<%- include("partials/header.ejs") %>
    <main>
        <section class="hero-section">
            <h1>Learn a New Language with Language App</h1>
            <p>Start your language journey today.</p>
            <a href="/quiz" class="cta-button">Get Start </a>
        </section>

        <section id="signup" class="signup-section">
            <div class="_3ja81"><h2 class="sOFre">free. fun. effective.</h2><p class="Lylke"><span>Learning with US is fun, and research shows that it works! With quick, bite-sized lessons, you’ll earn points and unlock new levels while gaining real-world communication skills.</span></p></div>
        </section>
    </main><br>

    <div class="container" style=>
  
<%- include("partials/footer.ejs") %>
</div>
</body>
</html>
